<!DOCTYPE html>
<html lang="en">

{{> headers}}

<body>
    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>PLAYA</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus doloremque voluptates dicta earum cupiditate quae, ipsam cumque repellendus, provident mollitia dolore rerum eius optio nulla odio quo adipisci eaque temporibus.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/playa.png" alt="" class="img-thumbnail">
        </div>
    </div>
</body>
</html>